{{>header}}
<div class="container">
    <h1>Bem vindo a GameStore</h1>
    <a href="/usuarios/registro"><button class="btn">Crie uma conta</button></a>
</div>

<h1>Produtos recentes:</h1>

{{#each produtos}}
<div class="wrapper">
<div class="card">
    <img src="/img/product/{{img}}" class="img">
 <h1>{{nome}}</h1>
 <h1>{{descricao}}</h1>
 <h1> R$ {{preco}}</h1>
<button class="btn">Comprar produto</button>
<button class="btn">Ver produto</button>
</div>
<div class="card">
<img src="/img/product/{{img}}" class="img">
 <h1>{{nome}}</h1>
 <h1>{{slug}}</h1>
 <h1> R$ {{preco}}</h1>
 <button class="btn">Comprar produto</button>
<button class="btn">Ver produto</button>
</div>
</div>

{{else}}
<h1>Nenhum produto </h1>

{{/each}}