{{>header}}
<h1>Checkout</h1>
{{#each produtos}}
<div class="wrapper">
<div class="card">
    <img src="/img/product/{{img}}" class="img">
 <h1>{{nome}}</h1>
 <h1>{{descricao}}</h1>
 <h1> R$ {{preco}}</h1>
</div>
</div>
<div class="wrapper">
<div class="card">
    <img src="/img/product/{{img}}" class="img">
 <h1>{{nome}}</h1>
 <h1>{{descricao}}</h1>
 <h1> R$ {{preco}}</h1>
</div>
</div>

{{else}}
<h1>Nenhum produto encontrado, tente adicionar algo ao carrinho</h1>



{{/each}}